<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <h5><u><i>Login Form using Angular Material!!</i></u></h5>
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput type="email" class="form-control mb-2" id="inputEmail" formControlName="email"
                    placeholder="Enter Email">
            </mat-form-field><br><br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" class="form-control mb-2" id="inputPassword" formControlName="password"
                    placeholder="Enter Password">
            </mat-form-field><br>
            <button mat-raised-button color="primary" type="submit">Login</button>&nbsp;
            <button mat-raised-button color="primary" type="button"> <a href="/register"
                    color="primary">Register</a></button>
        </form>
    </mat-card>
</div>