<div>
    <h3><i>Registration Form using Angular Material!!</i></h3>
    <form class="user-login" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100" fxLayoutAlign="end">
            <div fxFlex.xl="15" fxFlex.lg="20" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name: </mat-label>
                    <input matInput type="text" class="form-control mb-2" id="inputName" formControlName="name"
                        placeholder="Enter Your Name">
                </mat-form-field><br><br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>User Name: </mat-label>
                    <input matInput type="text" class="form-control mb-2" id="inputUsername" formControlName="username"
                        placeholder="Enter UserName">
                </mat-form-field><br><br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email: </mat-label>
                    <input matInput type="email" class="form-control mb-2" id="inputEmail" formControlName="email"
                        placeholder="Enter Email">
                </mat-form-field><br><br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" class="form-control mb-2" id="inputPassword"
                        formControlName="password" placeholder="Enter Password">
                </mat-form-field><br>
            </div>
        </div>
        <button mat-raised-button color="primary" type="submit">Register</button>&nbsp;
        <button mat-raised-button color="primary" type="button"> <a href="/login" color="primary"
                style="text-decoration: none;color: antiquewhite;">Login</a></button>
    </form>
</div>